
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
<p>Vous avez un compte ?</p>
@Html.ActionLink("Connectez-Vous", "LogIn", "Account");
<p>Vous n'avez pas encore de compte ?</p>
@Html.ActionLink("Enregistre toi maintenant", "SignUp", "Account");


